<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="container">
        <div class="logoDef">
            <img src="{{ url_for('static', filename='image/logo.png') }}" alt="Logo" class="logo">
            <h1 class="title">FortifyMessenger</h1>
        </div>
        <h1>Connexion</h1>
        <form id="loginForm" action="/login" method="post" class="information">
            <label for="username">Nom d'utilisateur:</label>
            <input type="text" id="username" name="username" placeholder="Nom d'utilisateur" class="InputUsername" required>
            <br>
            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="password" placeholder="Mot de passe" class="InputPassword" required>
            <br>
            <div class="Connexion">
                <button type="submit" class="messageButton">Connexion</button>
                <div class="messageCompte">Pas de compte ? <a href="signup">Inscrivez-vous</a></div>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='login.js') }}"></script>
</body>
</html>
